/* /deep/ div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
  padding-right: 29px!important;
} */

.content {
  min-height: 200px;
  padding: 12px 0 0!important;
}
.row{
  padding-top: 1.5%!important;
}
.text-right{text-align:right!important}.text-center{text-align:center!important}

/deep/ .confirm-btn-container:not(:first-child) {
  margin-left: 4px;
  width: 83px!important;
}

