<div *ngIf="isLoading | async" class="overlay">
    <div class="loader">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      <!-- <div class="lds-hourglass"></div>   -->
        </div>
   <!-- <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner> -->
    <!-- ball-pulse -->
    <!-- <span class="tooltip">
        <p>ball-pulse</p></span>
    <div class="loader">
        <div class="loader-inner ball-pulse">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span class="tooltip">
          <p>ball-pulse</p></span>
      </div>   -->
      <!-- <div class="loader"></div> -->
      <!-- <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div> -->
      <!-- <div class="loader">
        <div class="face">
          <div class="circle"></div>
        </div>
        <div class="face">
          <div class="circle"></div>
        </div>
      </div> -->
  </div>